
.toggle_button
{
	display: flex;
	flex-direction:column; 
	justify-content: space-around;
	width: 35px;
	height: 24px;
	background: transparent;
	border: none;
	box-sizing: border-box;
     padding: 0;
	cursor: pointer;
}

.toggle_button:focus
{
	outline: none;
}
.toggle_button_line
{
	width: 26px;
	height: 2px;
	background: white;
}

@media(min-width: 768px)

{
	.toggle_button{
		display: none;
	}
	
}